.simple-form {
  max-width: 80%;
  margin: 0 auto;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2% 5px rgba(0, 0, 0, 0.1);
}

.simple-form .form-group {
  margin-bottom: 15%;
}

.simple-form .form-control {
  border-radius: 5px;
  border-color: #ccc;
  box-shadow: none;
}

.simple-form .form-control:focus {
  border-color: #337ab7;
  box-shadow: 0 0 5px rgba(51, 122, 183, 0.5);
}

.simple-form .form-control::placeholder {
  color: #ccc;
}

.simple-form .form-check {
  margin-bottom: 10%;
}

.simple-form .btn-primary {
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 500;
}

.simple-form .invalid-feedback {
  display: block;
  color: #d53;
  font-size: 80%;
}

.docfind-container {
  display: flex;
  flex-direction: column;
  height: 280px;
}

.docfind-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}

.doctor-list {
  flex: 2;
  padding-right: 1rem;
}

.map-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  width: 40vw;
}

.map-container-login {
  width: 100vw;  /* Set width to 100% of the viewport width */
  height: 100vh; /* Optionally set height to 100% of the viewport height */
  position: relative; /* Ensure positioning context for the map */
}

.search-radius {
  flex: 1;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}

.appointment-cards-container {
  overflow-x: auto;
  white-space: nowrap;
}
.doctor-cards-container {
  width: 100%;
}
.appointment-card {
  display: inline-block;
  margin-right: 10px; /* Add some margin between cards */
  cursor: pointer;
  margin-bottom: 1rem;
  width: 450px; /* Set a fixed width */
  height: 200px; /* Set a fixed height */
}

.doctor-card {
  display: block;
  cursor: pointer;
  margin-bottom: 1rem;
  width: 450px; /* Set a fixed width */
  height: 200px; /* Set a fixed height */
}

.appointment-cards {
  flex-direction: column; /* Ensure cards stack vertically */
}

.doctor-details {
  flex: 1; /* Expand to fill available space */
  margin-left: 1rem;
}

.doctor-info {
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.doctor-appointment {
  margin-top: 1rem;
}

.doctor-appointment p {
  font-weight: bold; /* Make the appointment time more prominent */
}

.doctor-divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}
.auth-form {
  max-width: 400px;
  background-color: rgba(251, 252, 251, 0.89);
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.auth-form .form-group {
  margin-bottom: 15px;
}

.auth-form .form-control {
  border-radius: 5px;
  border-color: #ccc;
  box-shadow: none;
}

.auth-form .form-control:focus {
  border-color: #337ab7;
  box-shadow: 0 0 5px rgba(51, 122, 183, 0.5);
}

.auth-form .form-control::placeholder {
  color: #ccc;
}

.auth-form .form-check {
  margin-bottom: 10px;
}

.auth-form .btn-primary {
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 500;
}

.auth-button {
  width: 100%;
  margin-top: 1rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Add some bottom margin for spacing */
}


.centered-button {
  background-color: rgba(251, 252, 251, 0.89);
  display: flex; 
  justify-content: flex-end; 
  padding: 1rem; 
  width: fit-content; 
  position: fixed;
  border-radius: 10px;
  right: 0; 
}


