@tailwind base;
@tailwind components;
@tailwind utilities;

.separator {
    border-left: 1px solid black;
    margin-left: 5px; /* Adjust this value as needed */
    padding-left: 5px; /* Adjust this value as needed */
}

@layer components {
    .sidebar.button.primary {
        @apply w-[250px] font-montserrat font-thin bg-bgGrey-900 hover:bg-light-900 h-[40px] flex items-center justify-center uppercase shadow mt-3;
    }

    .sidebar.button.selected {
        @apply w-[250px] font-montserrat font-thin bg-dark-900 text-white h-[40px] flex items-center justify-center uppercase shadow mt-3;
    }

    .sidebar.button.create {
        @apply w-[250px] font-montserrat font-bold text-primary-900 bg-bgGrey-900 hover:bg-light-900 h-[40px] flex items-center justify-center uppercase shadow mt-3;
    }

    .sidebar.button.danger {
        @apply w-[250px] font-montserrat font-bold text-white bg-secondary-900 h-[40px] flex items-center justify-center uppercase shadow mt-3;
    }

    .main.button.primary {
        @apply w-[300px] h-[40px] font-montserrat text-white bg-primary-900 justify-center items-center uppercase px-4;
    }
}